// _mixins.scss
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin flex-space-between($gap: 1rem) {
  display: flex;
  justify-content: space-between;
  gap: $gap;
}

@mixin flex-column($gap: 1rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
