* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}
.skip-link {
  position: absolute;
  left: -999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip-link:focus {
  position: static;
  padding: 10px;
  background: yellow;
  color: black;
  z-index: 1000;
}
